div {
clear:left;
}

.label, .heading, .para{
	font-weight:bold;

}

.text{
	font-weight:normal;

}

ul{
	list-style:none;
	padding-left:1em;
	padding-top:0;
	margin-top:0;
}
.notes{
	display:none;
}

.heading{
	margin-left:1em;
}

.subprov .label{
	float: left;
margin-left: -1.5em;
padding-right: 0.5em;
}

.prov_body{
	padding: 0;
	margin: 0;
	margin-left: 1.5em;
	clear: left;
}

.subprov .label:before,
.para .label:after{
	content: '(';
}
.subprov .label:after,
.para .label:after{
	content: ')';
}

.subprov > ul{
	margin-left:0;
}