
@import "bootstrap/variables";


.act_browser{
	   position:relative;
	padding-top: 60px;
	padding-bottom:80px;
	padding-left: 65px;

	@media (min-width: $screen-md-min) {
		padding-right: 300px;
	}


	form{

		input.form-control[type="text"] {
			width:400px
		}
		&.showing-location input.form-control[type="text"]{
			width:301px;
		}
		.form-group{

		}
		&.jump-to .form-control-feedback{
			right: 85px;
		}
		&.showing-location input.location.form-control[type="text"] {
			width:100px;
			margin-left: -1px;

		}
	}
	.input-group button{
		line-height: 20px;
	}
	.navbar-brand{
		margin:0;
		padding:0;

		.logo{
			height: 44px;
			margin: 3px 16px;
		}
	}

	.sidebar-wrapper {
		height: 100%;
		width: 65px;
		position: fixed;
		top: 0;
		padding-top: 65px;
		background-color: $gray;
		text-align: center;
		left: 65px;
		margin-left: -65px;

		a{
			color: $gray-lighter;
			font-size: 40px;
			margin:6px;
			cursor:pointer
		}
		a:hover{
			color:#ffffff;
		}
	}

	.contents-bar-wrapper{
		height: 100%;
		width: 300px;
		position: fixed;
		top: 0;
		right: 0;
		padding-left: 16px;
		padding-top: 65px;
		border-left-width: 1px;
		border-left-style:solid;
		&>div{
			height:100%;
		}
		.form-group{
			margin-right:16px;
		}
	}

	.results{
		padding: 0 16px;

		.nav-tabs{
			position:fixed;
			padding-left: 10px;
			padding-top: 5px;
			top: 51px;
			left: 65px;
			right: 300px;
			background-color: #fff;
			z-index: 1029;
			li{
				max-width: 200px;
				a{
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					padding-right: 20px;
				}
				&:hover .tab-close{
					display:block;
				}
			}
			.tab-close{
				display:none;
				position: absolute;
				top: 2px;
				right: 4px;
				font-size: 22px;
				color: #898989;
				font-weight: bold;
				cursor: pointer;
				&:hover{
					color:$gray-dark;
				}
			}
		}
		 .legislation-result{
			max-width:1170px;
			margin: 0 auto;
			margin-top: 60px;
		}
		.search-results{
			max-width:1170px;
			margin: 0 auto;
			margin-top: 60px;
			.search-result{
				margin-bottom: 20px;

				.search_match{
					font-weight:bold;
				}
			}
		}
	}


	.case{
		line-height:1;

		.page_number{
			position: absolute;
			right: 70px;
			top: 1169px;
			font-size: 11px;
			font-family: Times;
			color: #000000;
			letter-spacing: 1.22792px;

		}

		.page{
			border-bottom:1px solid #333;
		}
		.page:last-child{
			border-bottom:none;
		}
	}

	.legislation-contents{
		height: calc(100% - 70px);
		overflow-y: auto;
		.contents{
			a{
			color:$gray;
			}
			.nav>li>a{
				padding:0;


				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			&>ul{
				padding-left:0;
			}
			.nav .nav{
				padding-left:12px;
			}
			 .active > a{
				text-decoration: none;
				font-weight: bold;;
			}
			 .nav .nav {
				display: none;
			}
			/*
			.nav .nav li{
				display:none;
			}
			.nav .nav li.active{
				display:block;
			}*/


			.nav>.active>ul {
				display: block;
			}
			span.crosshead {
				font-style: italic;
			}
		}
	}
}