
@import "bootstrap/variables";


.act_browser{
	   position:relative;
	padding-top:80px;
	padding-bottom:80px;
	padding-left: 65px;

	@media (min-width: $screen-md-min) {
		padding-right:310px;
	}

	form{

		input.form-control[type="text"] {
			width:400px
		}

		.form-group{
			padding:0 8px;
		}
		&.jump-to .form-control-feedback{
			right: 85px;
		}
	}
	.input-group button{
		line-height: 20px;
	}
	.navbar-brand{
		margin:0;
		padding:0;

		.logo{
			height: 44px;
			margin: 3px 16px;
		}
	}


	.sidebar-wrapper {
		height: 100%;
		width: 65px;
		position: fixed;
		top: 0;
		padding-top: 65px;
		background-color: $gray;
		text-align: center;
		left: 65px;
		margin-left: -65px;

		a{
			color: $gray-lighter;
			font-size: 40px;
			margin:6px;
			cursor:pointer
		}
		a:hover{
			color:#ffffff;
		}
	}

	.contents-bar-wrapper{
		height: 100%;
		width: 300px;
		position: fixed;
		top: 0;
		right: 0;
		padding-left: 16px;
		padding-top: 65px;
		border-left-width: 1px;
		border-left-style:solid;
		&>div{
			height:100%;
		}
		.form-group{
			margin-right:16px;
		}
	}


	.container-fluid{
		max-width:1170px; /* todo */
	}

	.case{
		line-height:1;

		.page_number{
			position: absolute;
			right: 70px;
			top: 1169px;
			font-size: 11px;
			font-family: Times;
			color: #000000;
			letter-spacing: 1.22792px;

		}

		.page{
			border-bottom:1px solid #333;
		}
		.page:last-child{
			border-bottom:none;
		}
	}

	.legislation-contents{
		height: calc(100% - 70px);
		overflow-y: auto;
		.contents{
			a{
			color:$gray;
			}
			.nav>li>a{
				padding:0;


				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			&>ul{
				padding-left:0;
			}
			.nav .nav{
				padding-left:12px;
			}
			 .active > a{
				text-decoration: none;
				font-weight: bold;;
			}
			 .nav .nav {
				display: none;
			}
			/*
			.nav .nav li{
				display:none;
			}
			.nav .nav li.active{
				display:block;
			}*/


			.nav>.active>ul {
				display: block;
			}
			span.crosshead {
				font-style: italic;
			}
		}
	}
}