    .buttonbar-wrapper {
        height: 100%;
        position: fixed;
        top: $top-bar-height-sm;
        left:0;
        padding-top:4px;
        text-align: center;
        z-index: $z-buttonbar;
        @media (min-width: $screen-md-min) {
            top: $top-bar-height;
        }
        @media print{
            position:static;
            height:1;
            display:none;
        }
        ul, li{
            list-style: none;
            padding-left:0;
        }
        li{
            font-size: 24px;
            line-height:34px;
            float: left;
            clear: left;
            position: relative;
            text-align: left;

            .children{
                display:none;
                position: absolute;
                background-color:$deep-red;
                background-image: url(/build/images/hero-bg.jpg);
                  background-size: 300%;
                border-radius: 4px;
                li{
                 width: 100%;
                }
                a{
                    padding:4px 12px 4px 12px;
                    white-space:nowrap;
                    width: 100%;
                    display: inline-block;
                    @media (min-height: $screen-xs-height) {
                        padding:12px;
                    }
                }
                .fa{
                      margin: 0 8px;
                }
            }
            .button{
                margin:2px 0;
                background-color:#eee;
                padding:4px 12px 4px 12px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                transition: all 0.2s ease;
                cursor:pointer;
                @media (min-height:  $screen-xs-height) {
                    padding:12px;
                }
            }
            a{
                color:$deep-red;
                text-decoration:none;
            }
            span.fa {
                width: 24px;
            }
            &.title{
                width: 100%;
                font-size:14px;
                text-align: center;
                color:white;
                  white-space: nowrap;
                line-height: 34px;


            }
            .sublabel{
                font-size:14px;
                font-weight: normal;
                line-height: 24px;
                display: inline-block;
            }
        }
        li:hover,
        li.activated {
            .button{
                background-color:$deep-red;
                padding-right:100px;
            }
            .title a, .fa{
               color:#fff;
               cursor:pointer;
            }
            & .children{
                left: 53px;
                top: 2px;
                display: block;
            }
            .suboption{
                cursor:pointer;
               background-color:#eee;
               transition: all 0.2s ease;
               font-size:20px;
                a, .fa{
                    color:$deep-red;
                }
            }
            .suboption:hover,
            .suboption.activated{
                   background-color:transparent;
                   a, .fa{
                        color:#fff;
                    }
                }
        }

    }