 .results-container{
    .case{
    	font-family: Times New Roman;
    	font-size: 16px;
    	padding:50px 50px 50px;
    	line-height: 20px;
    	.court, .full-citation, .judgment{
    		font-weight: bold;
    	}

    	.label{
    		display: inline;

		    padding: 0 20px 0 0;
		    font-weight: normal;
		    white-space: normal;
		    font-size: 100%;
		    color: black;
		    line-height: normal;
		 }
		 .paragraph{
			 &>.label:before{
			 	content: '[';
			 }
			 &>.label:after{
			 	content: ']';
			 }
			margin-bottom: 30px;
		}
		 .text{
		 	display: inline;
		 }
	}


}
