.graph {
    $colour-dark: #333333;

    .article {
        stroke: $colour-dark;
        stroke-width: 2;

        &.act {
            fill: #FFC6B2;
        }
        &.regulation {
            fill: #C5DFFF;
        }
    }

    .connection {
        stroke: $colour-dark;
    }

    .axis {
        path, line {
            fill: none;
            stroke: $colour-dark;
            shape-rendering: crispEdges;
        }
        text {
            font-size: 11px;
        }
    }
}
