.result_list{
  height:100%;
  overflow:auto;
  padding-left:0;


	.popover-content ul.label-para{
		padding-left: 0px;
list-style: none;
	}


 .legislation-result{
 	font-family: "Times New Roman", serif;
      text-align:left;
      min-width:600px;
      width:80%;
     background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    vertical-align: bottom;
    margin:16px auto;
    padding-bottom: 16px;

    &.selected{
     animation: pulse 2s 1;
 	}

	  @keyframes pulse {
	    0% {
	      box-shadow: 0 0 10px rgba(0,0,0,0.3);
	    }
	    70% {
	        box-shadow: 0 0 24px rgba(0,0,0,0.8);
	    }
	    100% {
	        box-shadow: 0 0 10px rgba(0,0,0,0.3);
	    }
	  }
	  .legislation-result-form {
			padding: 16px;
			background-color: #f8f8f8;
			border-bottom: 1px solid #e7e7e7;
			text-align:center;
			display:none;
	  }

	  &.showing-form .legislation-result-form{
	  	display:block;
	  }
		&.showing-form .legislation-result-form label{
		margin-right: 12px;
		}


	  .legislation-body{
	  		padding: 0 24px 24px 24px;
	  	     max-height:600px;
      		overflow-y:auto;
      		overflow-x: hidden;
	  }
	  &.collapsed{
	  	padding-bottom:0;
	  	margin:0 auto;
	  }
	  &.collapsed .legislation-body{
	  		height:0;
	  		padding:0;
	  }
	  &.expanded .legislation-body{
	  	max-height: initial;
	  }

	  &:not(.history) .legislation-body .history-note{
	  	display:none;
	  }

	  &:not(.context) .legislation-body  h1.title,
  	  &:not(.context) .legislation-body  h2.part,
	  {
	    display:none;
	  }

	  .legislation-header{
	  	border-bottom: 1px solid #cdcdcd;
		padding: 4px 4px 4px 40px;
		 height: 32px;
		h4{
			margin: 0;
			line-height: 24px;
			font-weight: 400;
			white-space: nowrap;
			overflow: hidden;
		}
		.btn.menu{
				position: absolute;
			left: 0;
			top: 0;
		}
		.btn{
			font-size: 20px;
			line-height: 20px;
			padding: 4px 8px;
			border:none;
			border-radius:0;
		}
		.btn-group{
			position: absolute;
			right: 0;
			top: 0;
		}
	  }

	&.collapsed .legislation-header{
		border:none;
	}

	.defined-word{
		text-decoration: underline;
	}

   .legislation .mark{
   	background-color: #FFFEA1;
   }

}

}

.legislation-result{
  /* custom */
  .legislation h1 a, .legislation h2 a, .legislation h3 a, .legislation h4 a, .legislation h5 a, .legislation h6 a {
      text-decoration:none;
      color:#000;
  }
  .legislation div.cover{
      margin-right:0;
  }

  .legislation h1.title {
      margin-top: 0;
  }
  .legislation h2.part, .legislation h2.schedule, .legislation h2.head1, .legislation h2.schedule-group, .legislation h2.schedule-amendments-group1, .legislation h2.sop-part {
      margin-top: 0;
  }
  .legislation .part{
      margin-top:8px;
  }
}