
@import "bootstrap/variables";

.save-dialog{

	.saved-list{
		max-height:300px;
		overflow-y: auto;
		tr{
			cursor:pointer;
		}
		tr.folder{
			font-weight: bold;
		}
	}

	.rename,
	.create{
		float:left;
	}

}