
.legislation-finder{
padding-left: 10px;

	.submit{
	  width:80px;
	}
	.submit_loading{
	  display:none;
	  width:80px;
	}

	&.loading .submit_loading{
		display: initial;
	}
	&.loading .submit{
		display: none;
	}	
	.btn-toolbar{
		text-align:center
	}


	 .error{
	    color:#ff0000;
	    display:none;
	    margin-top:15px;
	    text-align:center;
	}
	/* loading bs */
	.glyphicon-refresh-animate {
	    -animation: spin 1s infinite linear;
	    -webkit-animation: spin2 1s infinite linear;
	}

	@-webkit-keyframes spin2 {
	    from { -webkit-transform: rotate(0deg);}
	    to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
	    from { transform: scale(1) rotate(0deg);}
	    to { transform: scale(1) rotate(360deg);}
	}

}