//test
@import 'bootstrap';
@import 'legislation';
@import 'search_form';
@import 'results_viewer';
@import 'validator';
@import 'act_browser';
@import 'spinner';


/*generic*/
html{
    position: relative;
    height: 100%;
}

body{
    height: 100%;
}


.logo{
  width:200px;
  margin:20px auto;
}

.wrapper{
  height:100%;
}
.legislation_browser {
    overflow: auto;
}

.legislation_browser .page_wrapper{
text-align:center;
white-space: nowrap;
overflow-y: auto;
height:100%;
}

.legislation_browser .page_wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.legislation_browser .page_wrapper::-webkit-scrollbar:vertical {
    width: 11px;
}

.legislation_browser .page_wrapper::-webkit-scrollbar:horizontal {
    height: 11px;
}

.legislation_browser .page_wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


/* bootstrap fixes */
.legislation .label{
    display:initial;
    color:#000;
    text-align:initial;
    white-space: initial;
    border-radius:initial;
}

.legislation a{
    text-decoration: underline;
}
.legislation a.def-popover{
    color:#000;
    text-decoration: none;
    border-bottom: 1px dashed #00BD00;
}


.definition-result .catalex-src{
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
  display: inline-block;
}

// bootstrap
.modal-backdrop{
  position: fixed;
  bottom:0;
}

.def-popover{
  z-index:1020;
}
.popover{
   max-width: 500px;

  .popover-content{

      max-height:200px;
      overflow-y:hidden;
  }
  .popover-footer{
      margin-top: 8px;
      padding: 8px 14px;
      font-size: 14px;
      background-color: #f7f7f7;
      border-top: 1px solid #ebebeb;
      border-radius: 0 0 5px 5px;
    }

    .popover-close{
      position: absolute;
      top: -1px;
      right: 10px;
      font-size: 22px;
      color: #898989;
      font-weight: bold;
      cursor: pointer;
  }
}

.legislation .row:before, .legislation .row:after{
    content:initial;
}

.table-container{
  margin-right: 16px;
  margin-left:16px;
}

table > tbody > tr > td.table_holding_cell{
  padding:0;
}
.table_holding_cell > table.table {
background-color: initial;
margin-bottom: 0;

}
.table_holding_cell table tr:nth-child(1) td{
  border:none;
}
.case_results li>table>tbody>tr>td:nth-child(1){
  font-weight: bold;
  width:100px
}

/* side bar bs */

#sidebar, #sidebar a, #sidebar-footer a {
padding: 5px;
width:250px;
position:fixed;
background-color:#f8f8f8;
height:100%;
border-right:1px solid #e7e7e7;
}

.main{
  padding-left: 250px;
padding-right: 0;
height: 100%;
overflow-y:hidden;
}




