//test
@import 'bootstrap';
@import 'legislation';
@import 'search_form';


/*generic*/
html{
    position: relative;
    height: 100%;
}

body{
    height: 100%;
}
/* custom */
.legislation h1 a, .legislation h2 a, .legislation h3 a, .legislation h4 a, .legislation h5 a, .legislation h6 a {
    text-decoration:none;
    color:#000;

}
.legislation div.cover{
    margin-right:0;
}

.legislation h1.title {
    margin-top: 0;
}
.legislation h2.part, .legislation h2.schedule, .legislation h2.head1, .legislation h2.schedule-group, .legislation h2.schedule-amendments-group1, .legislation h2.sop-part {
    margin-top: 0;
}
.legislation .part{
    margin-top:8px;
}

.legislation{
    text-align:left;
    width:600px;
   background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 24px;
  position: relative;   
  vertical-align: bottom;
  margin:16px auto;
}

.legislation > div{
    max-height:600px;
    overflow-y:auto;
    overflow-x: hidden;
}
.legislation.expanded > div{
  max-height:initial;
}
.legislation .expand,
.legislation .close-page{
    display:none;
    position: absolute;
    right: 6px;
    bottom:6px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ededed;
    border-top-left-radius:17px;
    border-top-right-radius:17px;
    border-bottom-right-radius:17px;
    border-bottom-left-radius:17px;
    text-indent:0;
    border:1px solid #dcdcdc;
    color:#777777;
    font-family:Arial;
    font-size:26px;
    font-weight:bold;
    font-style:normal;
    height:32px;
    line-height:32px;
    width:32px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    cursor:pointer;
}

.legislation .history-note{
  display:none;
}

.legislation .close-page{
  top:6px;
  bottom:initial;
}
.legislation:hover .expand,
.legislation:hover .close-page{
    display:inline-block;
}
.legislation .close-page:before{
      content:"X";
}
.legislation .expand:hover,
.legislation .close-page:hover {
    background-color:#dfdfdf;
}


.legislation .expand:before{
        content:"+";
}
.legislation.expanded .expand:before{
        content:"-";
}

.legislation_references{
  display:none;
}
.legislation_viewer{
  height:100%;
  overflow:auto;
}
.logo{
  width:200px;
  margin:20px auto;
}
/*
.legislation:before, .legislation:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.legislation:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}

.legislation:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
*/
.legislation_browser{
padding-top: 70px;
}

.legislation_browser {
    overflow: auto;
}

.legislation_browser .page_wrapper{
text-align:center;
white-space: nowrap;
overflow-y: auto;
height:100%;
}

.legislation_browser .page_wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.legislation_browser .page_wrapper::-webkit-scrollbar:vertical {
    width: 11px;
}

.legislation_browser .page_wrapper::-webkit-scrollbar:horizontal {
    height: 11px;
}

.legislation_browser .page_wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


/* bootstrap fixes */
.legislation .label{
    display:initial;
    color:#000;
    text-align:initial;
    white-space: initial;
    border-radius:initial;
}

.legislation a{
    text-decoration: underline;
}

.legislation .row:before, .legislation .row:after{
    content:initial;
}

.table-container{
  margin-right: 16px;
  margin-left:16px;
}

table > tbody > tr > td.table_holding_cell{
  padding:0;
}
.table_holding_cell > table.table {
background-color: initial;
margin-bottom: 0;

}
.table_holding_cell table tr:nth-child(1) td{
  border:none;
}
.case_results li>table>tbody>tr>td:nth-child(1){
  font-weight: bold;
  width:100px
}

/* side bar bs */
.box {
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
}
#sidebar, #sidebar a, #sidebar-footer a {
padding-left: 5px;
}
.column {
height: 100%;
overflow: auto;
background-color:#f8f8f8;
border-right:1px solid #e7e7e7;

}
.main{
  padding-top: 80px;
  padding-left: 0;
padding-right: 0;
overflow-y:auto;
height: 100%;
}
.wrapper, .wrapper > .box >  .row {
height: 100%;
margin-left: 0;
margin-right: 0;
}
.navbar{
  top: 0;
  position: fixed;
  width: inherit;
}



