

.validator{
	height:100%;
	padding-top:50px;

	.col-lg-6{
		height:100%;
		padding-top:16px;
		overflow:auto;
	}

	.col-lg-6:first-child{
		border-right:1px solid #e7e7e7;
	}
	form{
		padding-top: 6px;

		label{
			padding-right: 10px;
		}
		input.form-control {
			width:300px  !important;
		}
		.form-group,
		.btn-group{
			padding:0 8px;
		}
	}
	.top-bar{
		background-color:#f8f8f8;
		border-bottom:1px solid #e7e7e7;
		height:80px;
	}
	.results{

	}
	.container-fluid{
		height: 100%;
	}
	.container-fluid > .row{
		height:100%;
	}
	iframe{
		border: none;
		width: 100%;
		height: calc(100% - 10px);
		margin:0;
	}
}