<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon"   type="image/png" href="/build/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/build/css/style.css" />
    <!--[if lt IE 9]>
      <script build="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
       <script type="text/javascript" src="/build/js/respond.min.js" ></script>
       <script type="text/javascript" src="/build/js/respond.matchmedia.addListener.min.js" ></script>
    <![endif]-->
    <title>CataLex: Law Browser</title>
</head>

<body class="legislation_browser">

<div>
	{% block content %}
		{{ content|safe }}
	{% endblock %}
    <script type="text/javascript" src="/build/js/app.js" ></script>
</div>
</body>

</html>
