<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon"   type="image/png" href="/build/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/build/css/{{ config['manifest']['style.css'] }}" />
    <!--[if IE 8]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/ie8/0.2.2/ie8.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.0/es5-shim.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.0/es5-sham.js"></script>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 9]>
       <script type="text/javascript" src="/build/js/respond.min.js" ></script>
       <script type="text/javascript" src="/build/js/respond.matchmedia.addListener.min.js" ></script>
       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js" ></script>
    <![endif]-->
    <link rel="search" type="application/opensearchdescription+xml" title="Law Browser" href="/build/static/opensearch_nz.xml">
    <title>CataLex: Law Browser</title>

</head>

<body class="legislation_browser">
  {% block content %}
    {{ content|safe }}
  {% endblock %}
    <script type="text/javascript" src="/build/js/{{ config['manifest']['app.js'] }}" ></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59849645-4', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
