<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js" ></script>

    <script type="text/javascript" src="/static/js/bootstrap3-typeahead.js" ></script>
    <script type="text/javascript" src="/static/js/browser.js" ></script>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
</head>

<body class="legislation_browser">

<div>
	{% block content %}
		{{ content|safe }}
	{% endblock %}
</div>
</body>

</html>
