<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CataLex Law Browser - Temporarily Unavailable</title>
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
	<link rel="stylesheet" type="text/css" href="/build/css/{{ config['manifest']['style.css'] }}" />
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top">
			<img class="chev-left hidden-xs" src="/build/images/left-chevron.png">
			<img class="chev-right hidden-sm" src="/build/images/right-chevron.png">
			<div class="brand-wrap">
				<img src="/build/images/law-browser.png" alt="CataLex" class="logo img-responsive center-block hidden-xs">
			</div>
		</nav>
	</div>
	<div class="container down-message">
		<div class="row">
			<div class="col-xs-12">
				<h2>CataLex is currently unavailable due to maintenance</h2>
				<p>Sorry for the inconvenience. Please try again in just a few moments...</p>
			</div>
		</div>
	</div>
</body>
</html>
