<form class="form legislation_finder hidden-xs" role="form">
    <div class="form-group">
        <label for="type" class=" control-label">Type</label>
        <div class="">
            <select id="type" name="type" class="form-control">
                <option value="case">Case</option>
                <option value="act">Act</option>
            </select>
        </div>
    </div>
    <div class="form-group switchable visible-act">
        <label for="act-name" class="control-label">Act</label>
        <div class="">
            <input type="text" class="form-control" name="act-name" id="act-name"  autocomplete="off"/>
        </div>
    </div>

    <div class="form-group switchable visible-act">
        <label for="find" class=" control-label">Find</label>
        <div class="">
            <select id="find" class="form-control">
                <option value="section">Section</option>
                <option value="part">Part</option>
                <option value="schedule">Schedule</option>
                <option value="definition">Definition</option>
                <option value="full">Whole</option>
                <option value="search">Search</option>
            </select>
        </div>
    </div>
    <div class="form-group  switchable visible-act ">
        <label for="value" id="valueLabel" class="control-label">Value</label>
        <div class="">
            <input type="text" class="form-control" name="value" id="value" />
        </div>
    </div>
    <div class="form-group  switchable  visible-search visible-case">
        <label for="query" id="queryLabel" class="control-label">Query</label>
        <div class="">
            <input type="text" class="form-control" name="query" id="query" />
        </div>
    </div>    
    <div class="text-center">

            <button id="submit" class="btn btn-primary submit">Search</button>
            <button id="submit_loading" class="btn btn-info  submit"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></button>
    </div>       
    <div class="form-group error">
        No Results Found
    </div>


        

</form>
